@import "tailwindcss";

html, body, #app {
	height: 100%;
	margin: 0;
	padding: 0;
    @apply bg-neutral-900 text-white;
}

@keyframes spin-slow {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}
@utility animate-spin-slow {
    animation: spin-slow 4s linear infinite;
}