@import "tailwindcss";

html, body, #app {
	height: 100%;
	margin: 0;
	padding: 0;
    @apply bg-neutral-900 text-white;
}

@keyframes spin-slow {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}
@utility animate-spin-slow {
    animation: spin-slow 4s linear infinite;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility animate-fade-in-up {
    animation: fade-in-up 0.5s ease-out;
}
